body {
  padding-top:50px ;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:#014E4E; 
  color: #fff;
  padding: 50px;
  border-radius: 0 0 20px 20px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 70px;
  font-weight: bolder;
  line-height: 1.2;
}

.hero-text .welcome {
  font-size: 14px;
  font-weight: bold;
  color: #ffcc00;
}
.hero-img {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center ;
  align-items: flex-start;
}
.hero-img img {
  width: 30rem;
  height: auto;
  border-radius:0.5rem;
}
.hero-img .box-25{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  transform: translate(-50% -50%);
  animation: bounce 1s infinite;
  transition: all 0.2s ease;
  
}
@keyframes bounce {
  0%, 100% {transform:translate(-50%, -45%) ;}
  50% {transform:translate(-50%, -55%) ;}
}

        /* BOX-25 HOVER FILL FROM THE BOTTOM UPWARDS EFFECT */
.hero-img .box-25{
  z-index: 1;
  overflow: hidden;

}
.hero-img .box-25::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: height 0.4s ease;
  background: white;
  color: #014E4E;
}

.hero-img .box-25:hover::before {
  height: 100%;
  transform: scale(1.1);
  
}
.hero-img .box-25 span {
  font-size: 2rem;
}
.hero-img .box-25 p {
  font-size: 0.875rem;
  font-weight: 500;
}


.hero button {
    border-radius: 25px;
    background: #F9D67B;
    border: none;
    /* padding: 15px; */
    
}
.hero .circle-1 {
  width: 40px;
  height: 40px;
  background:transparent ;
  border: 1px solid #ffffff1a;
  padding: 10px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
}
.hero .circle-1:hover {
  background: #F9D67B;
}
.call-icon{
  padding: 5px;
  border: 2px ;
  width: 10px;
  display:flex;
  justify-content: space-between;
}
.about-section {
  display: flex;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  gap: 200px;
  padding: 3rem;
  background: white;
}
.about-btn {
  border-radius: 25px;
  background: #F9D67B;
  border: none;
  position:relative;
  overflow: hidden;
  z-index: 1;
}
.about-btn::before,
.about-btn::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background: #014E4E;
  z-index: -1;
  transition: width 0.3s ease;
}
.about-btn::before {
  left: 0;
}
.about-btn::after {
  right: 0;
}
.about-btn:hover::before,
.about-btn:hover::after {
  width: 100%;
}
.about-btn:hover{
  color: white;
}
.about-images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem; 
  position: relative;
  width: 100%;
}

.about-images .img-1 {
  width: 24rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  transform: rotate(-5deg);
  right: 2rem;
  
}
.about-images .img-2 {
  width: 16rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
  position: absolute;
  top: -2.5rem;
  left: 60%;
  z-index: 40;
}
.founder-images {
  display: flex;margin-right: -0.75rem;
}

trustedclient1 {
position: relative;
margin-left: -15px;
z-index: 1;
}
trustedclient2 {

z-index: 2;
}
trustedclient3 {
  z-index: 3;
  

}
.about-content {
  width: 100%;
}

.about-content h4 {
  color: #014E4E;
  margin-bottom: 0.5rem;
}

.about-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;

}

.about-features {
  display: flex;
  gap: 2rem;
  margin: 1.5rem 0;
  border-radius: 15px;
  background: whitesmoke;
  padding: 30px;
  justify-content: space-between;
  z-index: 1;
  overflow: hidden;
  position: relative;
  width: 100%;

}
.about-features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 0.4s ease;
  background: #014E4E;
}
.about-features:hover::before {
 width: 100%;
 color: white;
 
}

.about-footer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.box-25 {
  background: #F9D67B;
  
  width: 150px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}

 
@keyframes bounce {
  0%, 100% {transform:translate(-50%, -45%) ;}
  50% {transform:translate(-50%, -55%) ;}
}
.hero-img .box-25:hover {
  background: white;
  color: #014E4E;
}
.hero-img .box-25 span {
  font-size: 2rem;

}
.hero-img .box-25 p {
  font-size: 0.875rem;
  font-weight: 500;
}


 .about-images .box-25 {
   border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  margin-left: 50%;
  transform: translate(-50% -50%);
  animation: bounce 1s infinite;
  transition: all 0.2s ease;
  padding: 20px;
  z-index: 1;
  overflow: hidden ;
}
@keyframes bounce {
  0%, 100% {transform:translate(-50%, -45%) ;}
  50% {transform:translate(-50%, -55%) ;}
}
.about-images .box-25::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: height 0.4s ease;
  background: #014E4E;
  color: white;
}
.about-images .box-25:hover::before {
  height: 100%;
  transition: scale(1.1);
}
  .about-images .box-25 span {
    font-size: 2rem;
  } 

.about-images .box-25 p {
  font-size: 0.875rem;
  font-weight: 500;
}
 
.about-btn button {
  background: #F9D67B;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}
.about-btn button:hover {
  background: #014E4E;
  color: white;
}

.founder {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.founder img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* SERVICE */
.services-section {
 border-radius: 20px 20px 20px 20px;
 background: whitesmoke;
 padding: 35px;
}
.services-footer{
  display: flex;
}
.services-footer span{
  border-radius: 25px;
  background: #F9D67B;
  padding: 1px 10px;
}
.services-footer .free-quote:hover {
  color: #F9D67B;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  border: none;
  border-collapse: collapse;
}
.grid-item {
  text-align:left;
  border-radius: 8px;
  padding: 20px;
  background: white;
  z-index: 1;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  
}
.last-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 15px
  rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
}
.last-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  color: white;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0),
  );
 }
 .text-overlay img {
  width: 20px;
 }
.first-item{
  border: none;
  border-collapse: collapse;
  border-style: none;
  border-width: 0;
}

.grid-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #F9D67B;
  z-index: -1;
  transition: height 0.4s ease;
}


.grid-item:hover::before {
  height: 100%;
  transform: scale(1.1);
}

.first-item button {
  background: #F9D67B;
  border: none;
  font-weight: bolder;
  padding: 10px 25px;
}
.first-item h4 {
  color: #014E4E;
}
.grid-item button:hover {
  background: #014E4E;
  color: white;
}
.grid-item .circle {
  width: 65px;
  height: 65px;
  background:transparent ;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
  border: 1px solid #014E4E;
  position: relative;
  top: 5px;
  left: 5px;
  
}
.grid-item .icon {
  width: 50px;
}
.last-item .circle-1 {
  width: 50px;
  height: 50px;
  padding: 10px;
  background: transparent;
  color: black;
  border-radius: 50%;
  border: 1px solid #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
}
.last-item .circle-1:hover {
  background: #F9D67B;
  
}
.grid-item img {
   padding: 5px;
  border: 2px ;
  width: 20px;
  display:flex;
  justify-content: space-between;
}
.grid-item .nav-link {
  color: #014E4E;
  font-weight: bold;
}

.weDo-section {
 display: flex;
 gap: 25px;
 justify-content: space-evenly;
}
.weDo-section h2 {
  font-weight: bolder;
  margin-bottom: 40px;
}
.weDo-section h3 {
  font-size: large;
  font-weight: bold;
}
.weDo-2 h4 {
  color: #014E4E;
}

.weDo-1 img{
  border-radius: 8px;
}
.weDo-3 img{
  border-radius: 8px;
}
.weDo-3 button {
  background: #F9D67B;
  border: none;
}
.weDo-3 button:hover {
  background: #014E4E;
  color: white;
}
.imgtxt-premiere .icon {
  width: 30px;
}
   /* ICONS STYLING */
  .icon{
    width: 40px ;
   }
.imgtxt-premiere {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.imgtxt-premiere:hover .circle{
  background: #014E4E;
}
.imgtxt {
  margin-top: 30px;
  height: auto;
}

.weDo-2 .circle {
  width: 55px;
  height: 55px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
  border: 1px solid #014E4E;
  position: relative;
  top: 5px;
  left: 5px;
}
.crd:hover .circle {
  background: #F9D67B;
}

.choose {
  border-radius: 20px 20px 20px 20px;
 background: #014E4E;
 padding-top: 120px;
 padding-left: 20px;
 padding-right: 5px;
}
.choose h4 {
  color: #014E4E;
}
.choose-1{
  display: flex;
  gap: 100px;
}
.choose-crds {
  display: flex;
  justify-content: space-between;
}
.choose-crds1 .circle {
  width: 65px;
  height: 65px;
  color: #014E4E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
  border: 1px solid #014E4E;
  position: relative;
  top: 5px;
  left: 5px;
}
.crd:nth-child(1),
.crd:nth-child(3) {
  border-bottom: 1px solid #ffffff1a;
}
 
.crd .circle {
  width: 65px;
  height: 65px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
  border: 1px solid white;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 1;
  overflow: hidden;
}
.crd:hover .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #F9D67B;
  z-index: -1;
  transition: width 0.4s ease-in-out;
}
.expertise{
  padding: 10px;
}
.expertise img {
  border-radius: 15px;
}
.expertext {
  display: flex;
  justify-content: space-between;
  gap: 50px;

}
.expert-crds {
  margin-top: 70px;
  margin-bottom: 70px;
}
.expert-crd {
  text-align:left;
  border-radius: 15px;
  padding: 20px;
  background: whitesmoke;
  z-index: 1;
  margin-left: -25%;
  position: relative;
  overflow: hidden;
}
.expert-crd::before {
   content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #F9D67B;
  z-index: -1;
  transition: height 0.4s ease;
}
.expert-crd:hover::before {
   height: 100%;

}
.expertflex {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
.expert-crd .nav-link{
  color: #014E4E;
}
.expertise h4{
  color: #014E4E;
}
.programs {
 
 background: white
}
.programs h4 {
  color: #014E4E;
}
.program-txtbtn {
  display: flex;
  justify-content: space-between;
  color: black;
}
.program-txtbtn button {
  background: #F9D67B;
  border-radius: 25px;
  border: none;
  padding:15px 25px;
  height: fit-content;
  color: black;
}
.program-txtbtn button:hover {
  color: white;
  background: #014E4E;
}
.program-cards{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.prog-card{
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  align-items: flex-end;
  height: 80vh;
  
}
.overlay {
  position: absolute;
  /* inset: 0; */
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.6)
    rgba(0,0,0,0)
    rgba(0,0,0,0));
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  color: white;

}

.prog-card img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prog-card button {
  border-radius: 25px;
  background: #F9D67B;
  justify-content: center;
  display: flex;
  transition: all 0.3s ease;
  padding: 0.5rem;
}
.prog-card button:hover {
  background: white;
}
 
        /*   HOW IT WORKS!!!!! */
.work {
  border-radius: 20px 20px 20px 20px;
 background: #014E4E;
 padding: 40px 20px 60px;
}

.work-txt {
  display: flex;
  justify-content: space-between;
}
.techniques {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-bottom: 20%;
}
.tools .circle {
  width: 100px;
  height: 100px;
  color: #014E4E;
  background: #014E4E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
  border: 1px solid white;
  position: relative;
  top: 5px;
  left: 5px;
}
.tools:hover .circle {
  background: white;
}
.big-icons {
  width: 60px;
}
   /* APPOINTMENTS!!!! */

.appointment {
  padding: 40px;
  margin-top: -15%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
 
}
form button {
  background: #F9D67B;
}
form button:hover {
  background: #014E4E;
  color: white;
}
form {
  margin-right: 20px;
}

/* FREQUENTLY ASKED QUESTIONS */
.FAQ-section {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 5%;
}


.faq-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

.faq-images .faq-img2 {
  margin-top: -30%;
  margin-left: 30%;
}

/*FAQ/ABOUT US*/
.ACCORDIONS {
  width: 100%;
}
.group-accord {
  width: 100%;
}
 .accordion {
  background: white;   
  border-radius: 20px;
  width: 600px;         
}

.accordion-item {
  background: #fff;
  margin: 15px 0;
  border-radius: 30px;
  cursor: pointer;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px 15px;
}

.accordion-header h4 {
  margin: 0;
  font-size: 23px;
  color: #333;
}
.accordion-item .circle {
  width: 30px;
  height: 30px;
  background: #F9D67B;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
}

/* Hidden by default */
.accordion-content {
  display: none;
  margin-top: 10px;
  color: #444;
}

/*  active */
.accordion-item.active .accordion-content {
  display: block;
}

.accordion-item.active .circle {
  transform: rotate(180deg); 
}
.accordion-item.active .accordion-header {
  background: #F9D67B;
}

/* TESTIMONIALS */
.Testimonials {
  background:rgb(229, 229, 240);
  border-radius: 20px 20px 20px 20px;
  width: 100%;
}
.testimonial-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom:-5%; */
  padding: 20px;
}
.left-side {
  margin-bottom: 30px;
}

.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.author {
  gap: 15px;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  border: none;
  border-collapse: collapse;
  /* width: 100%; */
}
.testimony-box{
  text-align:left;
  border-radius: 15px;
  padding: 40px;
  background:white;
  z-index: 1;
  position: relative;
  display: inline-block;
  overflow: hidden;
  color:#828283;
  width: 100%;
}
.testimony-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #F9D67B;
  z-index: -1;
  transition: height 0.4s ease;
}
.testimony-box:hover::before {
  height: 100%; 
}
.testimony-box:hover {
  color:#1E1E1E; 
}
.five-star {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}
.stars{
  width: 15px;
  background-color: #F9D67B;
}

.testimony-box:hover .stars {
  background: #014E4E;
}
.right-side{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  position: relative;
  width: 100%;
  margin-left: 30px ;
  margin-top: 10rem;
}
.right-side .image-1 {
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  transform: rotate(-5deg);
  left: 20px;
}
.right-side .image-2 {
  width: 15rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: rotate(10deg);
  position: absolute;
  border: 5px solid white;
  left: 40%;
  z-index: 40;
}
.right-side .image-3 {
  width: 350px;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);
  position: absolute;
  border: 5px solid white;
 bottom: 25rem;
 z-index: 20;
 left: 5%;
}


.b0x-testimonial-images {
  border-radius: 10px;
  padding: 20px;
  background: #014E4E;
  color: white;
  max-width: 400px;
  height: 120px;
}
.founder-1 {
  align-items: center;
  gap: 0.5rem;
  z-index: 15;
  margin-left: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.5rem 2.5rem;
  background: #014E4E;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  transform: translate(-50% -50%);
  animation: bounce 1s infinite;
  transition: all 0.2s ease;
}
@keyframes bounce {
  0%, 100% {transform:translate(-50%, -45%) ;}
  50% {transform:translate(-50%, -55%) ;}
}
  

.founder-1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.testimonial-block {
  gap: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
             /* BLOGS!!!! BLOGS!!! BLOGS!!! BLOGS!! */
.blog {
  display: flex;
  justify-content: space-between;
}
.Blogs {
  margin-bottom: 50px;
}
.blog button {
  border-radius: 25px;
  padding: 15px 25px;
  background: #F9D67B;
  border: none;
  height: fit-content;
  color: black;
}
.blog button:hover {
  color: white;
  background: #014E4E;
}
         /* FOOTER!!!!! */
         

.footer-container {
  background-color: #014E4E;
  border-radius: 30px 30px 30px 30px;
  padding: 20px;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff1a;;
  margin-top: 60px;
}
.footer-first {
  border-right: 1px solid #ffffff1a;
  padding-right: 40px;
  width: 100%;
}
.footer-buttons{
  display: flex;
  
   gap: 50px;
   
}
.footer-buttons button {
  border-radius: 5px;
  border: 1px solid #ffffff1a;
  background: #014E4E;
  /* padding: 5px 10px ; */
  color: white;
}
.footer-buttons button:hover {
  color: #F9D67B;
  border: 1px solid #F9D67B;
}
.first-links {
  display: flex;
  list-style: none;
  /* gap: 2.5rem; */
  justify-content: space-evenly;
  margin-top: 20px;
  margin-left:-40px;
 
}
.first-links li:hover {
  color: #F9D67B;
}

.first-links ul {
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.first-links a {
 justify-content:flex-start ; 
 margin-right: 20px;
}



.first-links  {
  list-style: none;
}
.footer-second-sub {
  display: flex;
  gap: 10px;
  justify-content: start;
  list-style: none;
  align-items: start;
}
.footer-second{
  width: 100%;
}
.footer-icons .circle:hover {
  border: 1px solid #F9D67B;
  color: #F9D67B;
}
.footer-second-sub ul li {
  list-style: none;
}
.footer-second-sub li{
  padding: 10px;
}
.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-footer ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
.second-links {
  list-style: none;
}
.serv-links li:hover {
  color: #F9D67B;
}
.second-links li:hover{
  color: #F9D67B;
}

 /* TAILWINDCSS TAILWINDCSS  TAILWINDCSS TAILWINDCSS  TAILWINDCSS TAILWINDCSS */

 
/* .play-btn {
  position: absolute;
  right: 12%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  cursor: pointer;
}

.ring-wrap {
  position: relative;
  width: 200px;
  height: 200px;
}


.rotate-slow {
  animation: spin 12s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}


.ring-text {
  fill: #ffffff;
  font-size: 12px;
  letter-spacing: 2px;
}


.fill-none { fill: none; }


.play-pill {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 9999px;
  background: #f59e0b;           
  padding: 1.75rem;                
  color: #111827;                  
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); 
  transition: background-color 150ms ease, box-shadow 150ms ease;
}


.play-btn:hover .play-pill {
  background: #fbbf24;            
} 